source https://api.nuget.org/v3/index.json
storage:none

nuget Fable.Core
nuget Fable.Node
nuget Fable.Promise
nuget Fable.Fetch
nuget Fable.Browser.Dom
nuget Thoth.Json

group build
    source https://api.nuget.org/v3/index.json
    nuget Fake